In [190]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

plt.style.use('default') # set style (colors, background, size, gridlines etc.) # ggplot
plt.rcParams['figure.figsize'] = 10, 3 # set default size of plots
plt.rcParams.update({'font.size': 18})

import scraping_class
logfile = 'log.txt' ## name your log file.
connector = scraping_class.Connector(logfile)

from bs4 import BeautifulSoup
from tqdm import tqdm_notebook as tqdm

In [167]:
#!pip install cpi

In [168]:
movies = pd.read_csv('IMDb movies.csv')
actors = pd.read_csv('IMDb names.csv')
ratings = pd.read_csv('IMDb ratings.csv')
role = pd.read_csv('IMDb title_principals.csv')

In [191]:
import requests
session = requests.session()
session.headers['email'] = 'zpx171@alumni.ku.dk'
session.headers['name'] = 'Mathias Ellehauge'
session.headers

{'User-Agent': 'python-requests/2.22.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive', 'email': 'zpx171@alumni.ku.dk', 'name': 'Mathias Ellehauge'}

In [223]:
movies_90 = movies[movies.year >= 1990].drop_duplicates()
movies_us = movies[movies.country == 'USA'].drop_duplicates()
movies_us_90 = movies_us[movies_us.year >= 1990].drop_duplicates()

In [224]:
df_RT = pd.read_csv('RT.csv').drop_duplicates()

df_90 = pd.merge(movies_90,df_RT,how='inner',on='title')
df_90_us = pd.merge(movies_us_90,df_RT,how='inner',on='title')

In [225]:
#df_90_income = df_90[df_90['worlwide_gross_income'].notna()]
#df_90
df_RT

,title,tomatometer_score,audience_score
0,Shirley,87%,57%
1,Da 5 Bloods,92%,53%
2,On the Record,99%,86%
3,RAD,44%,90%
4,Scoob!,49%,57%
...,...,...,...
17372,King Kong,54%,31%
17373,Last Year at Marienbad (L'année dernière à Mar...,94%,85%
17374,Star Trek: First Contact,93%,89%
17375,Dune,52%,66%
17376,Species,43%,31%